<!-- BEGIN main_block -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maximum invalid login attemps exceeded</title>

        <!-- Theme meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Website meta data -->
        <meta name="description" content="Maximum invalid login attemps exceeded" />
        <meta name="keywords" content="Maximum invalid login attemps exceeded" />
        <meta name="author" content="Jonathan Nessier" />

        <!-- Theme favicons -->
        <link href="../api/favicon.php?size=32" rel="icon" type="image/png" sizes="32x32" />
        <link href="../api/favicon.php?size=16" rel="shortcut icon" type="image/png" sizes="16x16" />

        <!-- Theme CSS -->
        <link href="../css/style.min.css?v2.8.0" rel="stylesheet" type="text/css" />

        <!-- Initiliaze vars -->
        <script>
            var WB_URL = '../../..',
                THEME_URL = '..',
                ADMIN_URL = '../..',
                LANGUAGE_CODE = 'en',
                THEME_VERSION = '2.8.0';
        </script>

        <!-- Theme jQuery -->
        <script src="../js/jquery.min.js?v2.8.0"></script>

        <!-- WBCE helper JavaScript -->
        <script>
            function confirm_link(message, url) {
                if (confirm(message))
                    location.href = url;
            }
        </script>

        <!-- Theme JavaScript -->
        <script src="../js/script.min.js?v2.8.0"></script>

    </head>
    <body class="fixed-nav prepage">

        <div id="main-content">
            <div class="container-fluid">

                <div id="loginPage" class="pt-5">
                    <div class="row">
                        <div class="col-md-6 mx-md-auto col-lg-4">
                            <h1 class="text-primary">Excessive Invalid Logins</h1>
                            <p class="text-white">You have attempted to login too many times</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
<!-- END main_block -->